body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    background-color: #444;
    overflow: hidden;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#home-page {
    background-image: url('https://imgs.search.brave.com/OcAdkmDGnzYPrr5yzxLqhs95OfXo6SZ-0c_0vt487g8/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9zMi5h/YmNzdGF0aWNzLmNv/bS9hYmMvd3d3L211/bHRpbWVkaWEvaGlz/dG9yaWEvMjAyNC8w/NC8wOS9yZXRyYXRv/LVJOZmw5eXVKbFJC/Z1lWR1N3ZVVFcGZJ/LTEyMDB4ODQwQGRp/YXJpb19hYmMuanBn');
    background-size: cover;
    background-position: center;
    color: #fff;
}


nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#home-page {
    background-image: url('https://imgs.search.brave.com/OcAdkmDGnzYPrr5yzxLqhs95OfXo6SZ-0c_0vt487g8/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9zMi5h/YmNzdGF0aWNzLmNv/bS9hYmMvd3d3L211/bHRpbWVkaWEvaGlz/dG9yaWEvMjAyNC8w/NC8wOS9yZXRyYXRv/LVJOZmw5eXVKbFJC/Z1lWR1N3ZVVFcGZJ/LTEyMDB4ODQwQGRp/YXJpb19hYmMuanBn');
    background-size: cover;
    background-position: center;
    color: #fff;
}
